---
interface Props {
  imageDesktop?: string;
  imageMobile?: string;
  title: string;
}

const { imageDesktop, imageMobile, title } = Astro.props;

function formatTitle(title: string) {
  const words = title.split(" ");
  return words.length === 2 ? `${words[0]}<br>${words[1]}` : title;
}
---

<article
  class="group relative h-29 bg-cover bg-center bg-no-repeat hover:cursor-pointer sm:h-64 xl:h-112"
  style={`--bg-mobile: url(${imageMobile}); --bg-desktop: url(${imageDesktop});`}
>
  <a href="#">
    <div
      class="hover:bg-theme-white/70 transition-background absolute inset-0 z-0 bg-gradient-to-b from-black/0 to-black/60 duration-300"
    >
    </div>
    <p
      class="font-josefinsans force-two-lines group-hover:text-theme-black text-theme-white pointer-events-none absolute bottom-5 z-1 w-48 pl-5 text-2xl leading-6 uppercase transition-colors duration-300 group-hover:font-bold md:bottom-8 md:w-52 md:pl-10 md:text-3xl md:leading-none"
      set:html={formatTitle(title)}
    />
  </a>
</article>

<style>
  article {
    background-image: var(--bg-mobile);
  }
  @media (min-width: 640px) {
    article {
      background-image: var(--bg-desktop);
    }
  }
</style>
