---
interface Props {
  imageDesktop?: string;
  imageMobile?: string;
  title: string;
}

const { imageDesktop, imageMobile, title } = Astro.props;

function formatTitle(title: string) {
  const words = title.split(" ");
  return words.length === 2 ? `${words[0]}<br>${words[1]}` : title;
}
---

<article
  class="relative h-32 bg-cover bg-center bg-no-repeat sm:h-64 xl:h-112"
  style={`--bg-mobile: url(${imageMobile}); --bg-desktop: url(${imageDesktop});`}
>
  <div class="absolute inset-0 z-0 bg-black/30"></div>
  <p
    class="font-josefinsans force-two-lines absolute bottom-6 z-1 w-full pl-10 text-3xl text-white uppercase"
    set:html={formatTitle(title)}
  />
</article>

<style>
  article {
    background-image: var(--bg-mobile);
  }
  @media (min-width: 640px) {
    article {
      background-image: var(--bg-desktop);
    }
  }
</style>
